{% extends '_base.html' %}
{% block about %}
<div class="container" style="margin-bottom: 15px;">
    <div class="row">
        <div>
            
        </div>
       
        <form action="producto/doEditar" method="post" role="form" class="contactForm">
            <div class="form-group">
                <input type="text" required class="form-control" name="nombre" id="nombre" placeholder="{{datos.nombre}}" data-rule-range="5,10" data-msg="Por favor, un nombre válido." />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" required class="form-control" name="precio" id="precio" placeholder="{{datos.precio}}" data-rule-range="4,20" data-msg="Por favor, un apellido válido." />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" required class="form-control" name="tipo" id="tipo" placeholder="{{datos.tipo}}" data-rule-range="4,20" data-msg="Por favor, un apellido válido." />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" required class="form-control" name="volumendesde" id="volumendesde" placeholder="{{datos.volumendesde}}" data-rule="email" data-msg="Por favor, un correo electrónico válido." />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" required class="form-control" name="volumenhasta" id="volumenhasta" placeholder="{{datos.volumenhasta}}" data-rule="minlen:4" data-msg="Por favor, al menos 4 caracteres." />
                <div class="validation"></div>
            </div>
            <div class="form-group">
                <input type="text" required class="form-control" name="descripcion" id="descripcion" placeholder="{{datos.descripcion}}" data-rule="minlen:4" data-msg="Por favor, al menos 4 caracteres." />
                <div class="validation"></div>
            </div>
            <input type="hidden" class="form-control" name="id" id="id-edit"  value="{{datos.id}}" >
            <!--<div class="form-group">-->
            <!--    <input type="password" required class="form-control" name="clave2" id="clave2" placeholder="Repita la clave de acceso" data-rule-equalto="#clave" data-msg="Las dos claves deben coincidir." />-->
            <!--    <div class="validation"></div>-->
            <!--</div>-->
            <div class="text-center">
                <button type="submit" class="contact-submit">Registro</button>
            </div>
        </form>
        <div class="text-center">
            <a href="." class="btn contact-submit" role="button">Volver</a>
        </div>
    </div>
</div>
{% endblock %}